@font-face {
	font-family: Inter;
	src: url('./fonts/Inter/InterVariable.woff2');
	font-display: swap;
}

@font-face {
	font-family: Inter;
	font-style: italic;
	src: url('./fonts/Inter/InterVariable-Italic.woff2');
	font-display: swap;
}

g-player, g-player *, g-player :before, g-player :after {
	box-sizing: border-box;
}

g-player .gradient-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8rem;
	background: linear-gradient(transparent, #000A);
	pointer-events: none;
}

g-player .controls-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-inline: 0.8rem;
}

g-player .gradient-bottom, g-player .controls-container {
	transition: opacity 200ms;
}

g-player:has(.controls-container.hidden) {
	cursor: none;
}

g-player:has(.controls-container.hidden) .controls-container,
g-player:has(.controls-container.hidden) .gradient-bottom {
	opacity: 0;
}

g-player .seek-bar-container {
	position: relative;
	height: 0;
	display: flex;
	align-items: center;
	cursor: pointer;
}

:where(g-player .seek-bar-container > *) {
	height: 0.23rem;
	transition: 100ms scale;
}

/* Should probably get a better way of doing this */
/* :where has a specificity of 0, so it won't override other stuff */
:where(g-player:has(.fullscreen-button.fullscreen) .seek-bar-container > *) {
	height: 0.3rem;
}
g-player:has(.fullscreen-button.fullscreen) .seek-bar-thumb {
	width: 1.3rem;
	height: 1.3rem;
}

g-player .seek-bar-click-area {
	position: absolute;
	bottom: -0.5rem;
	left: 0;
	right: 0;
	height: 1.8rem;
	z-index: 999;
}

g-player .seek-bar-watched {
	background: red;
}

g-player .seek-bar-remaining {
	background: #8888;
	flex-grow: 1;
}

g-player:has(.seek-bar-click-area:hover, .seek-bar-container.seeking) .seek-bar-thumb {
	scale: 1;
}

g-player:has(.seek-bar-click-area:hover, .seek-bar-container.seeking) .seek-bar-container > *.seek-bar {
	scale: 1 1.55;
}

g-player .seek-bar-thumb {
	scale: 0;
	background: red;
	position: absolute;
	top: 50%;
	translate: -50% -50%;
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 999px;
}

g-player .lower-controls-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

g-player .lower-controls-container > div {
	display: flex;
	align-items: center;
}

g-player .lower-controls-container .time-info-container {
	height: 3rem;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.28rem;
	padding-inline: 0.65rem;
	font-size: 1.1rem;
	font-family: 'Inter', sans-serif;
	opacity: 0.9;
}

g-player .lower-controls-container button {
	height: 3.5rem;
	aspect-ratio: 1;
	border: none;
	cursor: pointer;
	background: none;
	background-repeat: no-repeat;
	background-position: center center;
	filter: invert(100%);
	background-size: 50%;
	opacity: 0.9;
}

g-player .lower-controls-container button:hover {
	opacity: 1;
}

g-player .lower-controls-container .play-pause-button {
	background-size: 65%;
}

g-player .play-pause-button.playing {
	background-image: url('./icons/GoogleMaterialSymbols/pause.svg');
}
g-player .play-pause-button.paused {
	background-image: url('./icons/GoogleMaterialSymbols/play.svg');
}
g-player .mute-button.not-muted {
	background-image: url('./icons/GoogleMaterialSymbols/not-mute.svg');
}
g-player .mute-button.muted {
	background-image: url('./icons/GoogleMaterialSymbols/mute.svg');
}
g-player .fullscreen-button.not-fullscreen {
	background-image: url('./icons/GoogleMaterialSymbols/fullscreen.svg');
}
g-player .fullscreen-button.fullscreen {
	background-image: url('./icons/GoogleMaterialSymbols/fullscreen-exit.svg');
}

g-player video {
	object-fit: contain;
}

g-player {
	display: block;
	position: relative;
	background: black;
	user-select: none;
}