@font-face {
	font-family: Inter;
	src: url('./fonts/Inter/InterVariable.woff2');
	font-display: swap;
}

@font-face {
	font-family: Inter;
	font-style: italic;
	src: url('./fonts/Inter/InterVariable-Italic.woff2');
	font-display: swap;
}

stardust-player, stardust-player *, stardust-player :before, stardust-player :after {
	box-sizing: border-box;
}

stardust-player {
	:is(.controls-container, .mobile-controls-container) button > *:nth-child(2) {
		display: none;
	}
	&.paused .play-pause-button > * {
		&:nth-child(1) {
			display: none;
		}
		&:nth-child(2) {
			display: unset;
		}
	}
	&.muted .mute-button > * {
		&:nth-child(1) {
			display: none;
		}
		&:nth-child(2) {
			display: unset;
		}
	}
	&.subtitles .subtitles-button > * {
		&:nth-child(1) {
			display: none;
		}
		&:nth-child(2) {
			display: unset;
		}
	}
	&.fullscreen .fullscreen-button > * {
		&:nth-child(1) {
			display: none;
		}
		&:nth-child(2) {
			display: unset;
		}
	}
}

stardust-player {
	display: block;
	position: relative;
	background: black;
	user-select: none;
	touch-action: none;
	-webkit-tap-highlight-color: transparent;

	&:focus {
		outline: none;
	}

	video {
		object-fit: contain;
	}

	.gradient-bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 8rem;
		background: linear-gradient(transparent, #000A);
		pointer-events: none;
	}

	.mobile-controls-container {
		display: none;
	}

	.controls-container {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding-inline: 0.8rem;
	}

	.controls-container, .mobile-controls-container * {
		transition: 200ms opacity;
	}

	&.controls-hidden:not(:has(stardust-seekbar.seeking, stardust-seekbar:hover)) {
		cursor: none;

		.controls-container, .mobile-controls-container, .gradient-bottom {
			opacity: 0;
			// Prevent buttons from being clickable when invisible
			* {
				pointer-events: none !important;
			}
		}
	}

	&.no-click {
		.controls-container, .mobile-controls-container {
			pointer-events: none;
		}
	}

	button {
		background: transparent;
		border: none;
		width: 3.5rem;
		aspect-ratio: 1;
		padding: 0;

		svg {
			width: 50%;
			height: 50%;
		}
	}

	:where(:is(.controls-container, .mobile-controls-container) button) {
		height: 3.5rem;
		aspect-ratio: 1;
		cursor: pointer;
		border: none;
		background: transparent;
		opacity: 0.9;
		color: white;

		&:hover {
			opacity: 1;
		}
	}

	.time-info-container {
		height: 3rem;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.28rem;
		padding-inline: 0.65rem;
		font-size: 1.1em;
		font-family: 'Inter', sans-serif;
		opacity: 0.9;
	}

	stardust-seekbar {
		position: relative;
		height: 0;
		display: flex;
		align-items: center;
		z-index: 999;

		> * {
			height: 0.23rem;
			transition: 100ms scale;
		}
		.seek-bar-click-area {
			position: absolute;
			bottom: -0.5rem;
			left: 0;
			right: 0;
			height: 1.8rem;
			cursor: pointer;
		}
		.seek-bar-watched {
			background: red;
		}
		.seek-bar-remaining {
			background: #8888;
			flex-grow: 1;
		}
		.seek-bar-thumb {
			width: 0;
			height: 0;
			z-index: 999;
			pointer-events: none;

			&::after {
				content: '';
				display: block;
				width: 1.1rem;
				height: 1.1rem;
				border-radius: 999px;
				translate: -50% -50%;
				background: red;
				scale: 0;
				transition: 100ms scale;
			}
		}

		.seek-bar-popover {
			position: absolute;
			bottom: 1rem;
			translate: -50% -50%;
			z-index: 9999;
			display: flex;
			flex-direction: column-reverse;
			gap: 0.5rem;
			filter: drop-shadow(0 0 2rem black);
		}
		.seek-bar-preview {
			width: 20rem;
			border-radius: 1rem;
		}
		.seek-bar-timecode {
			font-family: 'Inter', sans-serif;
			text-align: center;
			font-weight: 500;
			color: white;
		}
	}

	&:not(&.mobile):has(.seek-bar-click-area:hover, stardust-seekbar.seeking) {
		.seek-bar-thumb::after {
			scale: 1;
		}
		stardust-seekbar > .seek-bar {
			scale: 1 1.55;
		}
	}

	/* Hide popover when the bar isn't being hovered and isn't seeking */
	&:not(:has(.seek-bar-click-area:hover, stardust-seekbar.seeking)) .seek-bar-popover {
		display: none;
	}
	
	.lower-controls-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 0.1rem;

		> div {
			display: flex;
			align-items: center;
		}
	}

	.play-pause-button svg {
		width: 65%;
		height: 65%;
	}

	.subtitle-container {
		position: absolute;
		bottom: 9rem;
		left: 50%;
		translate: -50% 50%;
		color: white;
		font-family: 'Inter';
		font-weight: 700;
		font-size: 2.2em;
		filter: drop-shadow(0 0 2rem black) drop-shadow(0 0 1rem black);
		pointer-events: none;
		width: 25em;
		text-align: center;
		text-wrap: balance;
	}
}

stardust-player.fullscreen {
	stardust-seekbar {
		> .seek-bar {
			height: 0.3rem;
		}
	}
	.seek-bar-thumb::after {
		width: 1.3rem;
		height: 1.3rem;
	}
}

stardust-player.mobile {
	stardust-seekbar {
		.seek-bar {
			scale: 1 0.6;
		}
		.seek-bar-thumb::after {
			scale: 0.7;
		}

		&.seeking .seek-bar {
			scale: 1 0.6;
		}
	}

	.mobile-controls-container {
		display: unset;

		.lower-controls button {
			height: 5.5rem;
			padding-top: 3rem;
			width: 8.5rem;
			padding-left: 2rem;

			// svg {
			// 	width: 60%;
			// 	height: 60%;
			// }
		}

		.upper-controls button {
			box-sizing: unset;
			// margin-top: -1rem;
			// height: 6.5rem;
			padding-left: 2rem;
			padding-bottom: 2rem;
			padding-right: 0.5rem;
			padding-top: 0.5rem;
			width: 3rem;
			height: 3rem;
			// padding-bottom: 5rem;
			// padding-left: 5rem;
			display: grid;
			place-items: center;

			svg {
				width: 60%;
				height: 60%;
			}
		}
	}

	* {
		font-size: 0.8rem;
		filter: none;  // Phones are really slow
	}

	.controls-container {
		display: none;
	}

	.mobile-controls-container {
		.lower-controls {
			position: absolute;
			bottom: 5rem;
			left: 1rem;
			right: 1rem;
			display: flex;
			flex-direction: column;
			gap: 0.2em;
			pointer-events: none;

			stardust-seekbar, button {
				pointer-events: all;
			}
		}

		.seek-bar-click-area {
			bottom: -3rem;
			height: 4.7rem;
		}

		.play-pause-button {
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			width: 4rem;
			height: 4rem;
			background: #0008;
			border-radius: 999px;
			display: grid;
			place-items: center;

			svg {
				width: 80%;
				height: 80%;
			}
		}

		.above-seekbar-controls {
			display: flex;
			justify-content: space-between;
			align-items: end;
			z-index: 999;
			// margin-bottom: 0.5rem;
			position: absolute;
			bottom: 0.5rem;
			right: -1rem;
			left: 0;
			// left: -0.6rem;

			*:last-child {
				padding-right: 0;
				text-align: right;
			}

			.time-info-container {
				padding: 0;
				translate: 0 0.5rem;
			}
		}

		stardust-seekbar {
			z-index: 0;
		}

		.upper-controls {
			position: absolute;
			top: 0;
			right: 0;


			// *:last-child {
			// 	padding-right: 0;
			// 	text-align: right;
			// }
		}
	}

	:where(&:has(stardust-seekbar.seeking)) {
		.seek-bar-thumb::after {
			scale: 1;
		}
		stardust-seekbar > .seek-bar {
			scale: 1 1.55;
		}
	}

	.seek-bar-popover .seek-bar-preview {
		display: none;
	}

	.subtitle-container * {
		font-size: unset;
		margin: 0;
	}

	.subtitle-container {
		font-size: 1.5em;
		bottom: 6rem;
	}
}